bleak==0.21.1
matplotlib==3.7.1
neurokit2==0.2.7
numpy==1.24.2
pandas==2.1.4
PySide6==6.6.1
PySide6==6.6.1
PySide6_Addons==6.6.1
PySide6_Essentials==6.6.1
qasync==0.27.1
scipy==1.11.4
seaborn==0.13.1
shiboken6==6.6.1
